[Service]
# Install as /etc/systemd/system/regalia-kms.service.d/credentials.conf only
# after creating these TPM2-sealed blobs interactively on the KMS guest.
LoadCredentialEncrypted=hsm-site-a.pin:/etc/credstore.encrypted/regalia-kms-hsm-site-a.pin
LoadCredentialEncrypted=yubi-site-a.pin:/etc/credstore.encrypted/regalia-kms-yubi-site-a.pin
LimitMEMLOCK=1M
