#_preseed_V1
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string regalia-uncommissioned
d-i netcfg/hostname string regalia-uncommissioned
d-i netcfg/get_domain string invalid
d-i netcfg/wireless_wep string
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string trixie
# With root-login=false d-i forces creation of a regular account, even when
# make-user=false. Seed an already locked root account; never seed a password.
d-i passwd/root-login boolean true
# user-setup treats exactly '!' as a request to prompt again. '*' is also
# unmatchable by crypt(3), and permits a credential-free unattended install.
d-i passwd/root-password-crypted password *
d-i passwd/make-user boolean false
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean false
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt
d-i partman-auto/expert_recipe string regalia :: 256 256 256 free $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . 2048 4096 -1 ext4 $primary{ } method{ format } format{ } use_filesystem{ } filesystem{ ext4 } mountpoint{ / } .
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i base-installer/install-recommends boolean false
tasksel tasksel/first multiselect
d-i pkgsel/include string ca-certificates linux-image-amd64 systemd-sysv cryptsetup-initramfs wireguard-tools nftables apparmor apparmor-utils tpm2-tools opensc pcscd golang-go gcc libc6-dev
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string /dev/vda
d-i grub-installer/force-efi-extra-removable boolean true
d-i preseed/late_command string cp /regalia-finish.sh /target/tmp/regalia-finish.sh; cp /regalia-acceptance.sh /target/tmp/regalia-acceptance.sh; cp /regalia-source.tar /target/tmp/regalia-source.tar; in-target /bin/sh /tmp/regalia-finish.sh
d-i finish-install/reboot_in_progress note
d-i debian-installer/exit/poweroff boolean true
